<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div class="container">
    <h1>Users</h1>
    <hr/>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Sex</td>
            <td>Age</td>
            <td>Role</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.getId()}">
            <td th:text="${user.getUsername()}">
            <td th:text="${user.getSex()}">
            <td th:text="${user.getAge()}">
            <td th:text="${user.getRoles()}">
            <td><a th:href="@{/admin/{id}(id=${user.getId()})}"/>Edit</td>
        </tr>

        </tbody>
    </table>
</div>

<hr/>
<br/>
<a href="/admin/new">Create new person</a>

</body>
</html>