<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>
<title>Admin</title>
<nav class="navbar navbar-dark bg-dark container-fluid">
    <div class="text-white fs-5 ps-4">
        <span class="fw-bold" th:text="${admin.getUsername()}"></span>
        with roles:
        <th th:each="roles:${admin.getRoles()}" th:text="${' ' + roles.toString().replace('ROLE_', '')}"></th>
    </div>
    <div>
        <form th:action="@{/logout}" th:method="POST">
            <input class="btn btn-dark text-secondary" type="submit" value="Logout"/>
        </form>
    </div>
</nav>
<div class="row">
    <div class="row vh-100">
        <div class="col-1">
            <div class="row-fluid">
                <nav class="nav flex-column nav-pills">
                    <a class="nav-link active">Admin</a>
                    <a class="nav-link" href="/user">User</a>
                </nav>
            </div>
        </div>

        <div class="col bg-light">
            <nav class="tab-pane fade show active">
                <h1>Admin panel</h1>
                <br>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="tab_usersTable" data-bs-toggle="tab"
                            href="#usersTable" role="tab"
                            aria-selected="true" aria-controls="usersTable"
                            title="Click here to see users list">Users table
                    </button>
                    <button class="nav-link" id="tab_newUser" data-bs-toggle="tab"
                            href="#newUserTab" role="tab"
                            aria-selected="false" aria-controls="newUserTab"
                            title="Click here to add new user">New user
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav_tabContent">
                <!--User table-->
                <div class="tab-pane fade show active" id="usersTable" aria-labelledby="tab_usersTable" role="tabpanel">
                    <div class="card">
                        <div class="card-header"><h4 class="card-title">All users</h4></div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Sex</th>
                                    <th>Age</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete
                                </tr>
                                </thead>
                                <tbody>
                                <!--Edit modal-->
                                <div class="modal fade" id="editUser" tabindex="-1"
                                     aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <form id="editUserForm">
                                                    <div class="mb-3">
                                                        <label for="modalEdit_id"
                                                               class="col-form-label fw-bold">ID</label>
                                                        <input type="text" class="form-control" name="id"
                                                               id="modalEdit_id" disabled>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="modalEdit_username" class="col-form-label fw-bold">Username</label>
                                                        <input type="text" class="form-control" name="username"
                                                               id="modalEdit_username">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="modalEdit_sex"
                                                               class="col-form-label fw-bold">Sex</label>
                                                        <input type="text" class="form-control" name="sex"
                                                               id="modalEdit_sex">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="modalEdit_age"
                                                               class="col-form-label fw-bold">Age</label>
                                                        <input type="number" class="form-control" name="age"
                                                               id="modalEdit_age">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="modalEdit_password" class="col-form-label fw-bold">Password</label>
                                                        <input type="password" class="form-control" name="password"
                                                               id="modalEdit_password">
                                                    </div>
                                                    <div class="mb-3">
                                                        <div><label for="modalEdit_roles"
                                                                    class="form-check-label fw-bold">Roles</label>
                                                        </div>
                                                        <div>
                                                            <select id="modalEdit_roles" size="2" class="form-select"
                                                                    name="roles" multiple>
                                                                <option value="ROLE_ADMIN">ADMIN</option>
                                                                <option value="ROLE_USER">USER</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal"
                                                                id="modalBtnCloseEdit" title="Click here close">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary"
                                                                data-bs-dismiss="modal" onclick="updateUser()"
                                                                id="modalBtnEdit" title="Click here to edit">Edit
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Delete modal-->
                                <div class="modal fade" id="deleteUser" tabindex="-1"
                                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete
                                                    user</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <form id="deleteUserForm">
                                                    <div class="mb-3">
                                                        <label for="modalDelete_id"
                                                               class="col-form-label fw-bold">ID</label>
                                                        <input type="text" class="form-control" name="id"
                                                               id="modalDelete_id" disabled>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="modalDelete_username"
                                                               class="col-form-label fw-bold">Username</label>
                                                        <input type="text" class="form-control" name="username"
                                                               id="modalDelete_username" disabled>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="modalDelete_sex"
                                                               class="col-form-label fw-bold">Sex</label>
                                                        <input type="text" class="form-control" name="sex"
                                                               id="modalDelete_sex" disabled>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="modalDelete_age"
                                                               class="col-form-label fw-bold">Age</label>
                                                        <input type="number" class="form-control" name="age"
                                                               id="modalDelete_age" disabled>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div><label for="modalDelete_roles"
                                                                    class="form-check-label fw-bold">Roles</label>
                                                        </div>
                                                        <div>
                                                            <select id="modalDelete_roles" size="2" class="form-select"
                                                                    name="roles" multiple disabled>
                                                                <option value="ROLE_ADMIN">ADMIN</option>
                                                                <option value="ROLE_USER">USER</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal"
                                                                id="modalBtnCloseDelete" title="Click here close">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger"
                                                                data-bs-dismiss="modal" onclick="deleteUser()"
                                                                id="modalBtnDelete" title="Click here to delete">Delete
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--New user-->
                <div class="tab-pane fade" id="newUserTab" aria-labelledby="tab_newUser" role="tabpanel">
                    <div class="card">
                        <div class="card-header"><h4 class="card-title">Add new user</h4></div>
                        <div class="card-body text-center">
                            <div class="container d-flex flex-column justify-content-center align-items-center w-80">
                                <form id="newUserForm">
                                    <div class="mb-3">
                                        <div>
                                            <label for="username" class="col-form-label fw-bold">Username:</label>
                                        </div>
                                        <input type="text" class="form-control" name="username" id="username" required/>
                                    </div>
                                    <div class="mb-3">
                                        <div>
                                            <label for="sex" class="col-form-label fw-bold">Sex:</label>
                                        </div>
                                        <input type="text" class="form-control" name="sex" id="sex" required/>
                                    </div>
                                    <div class="mb-3">
                                        <div>
                                            <label for="age" class="col-form-label fw-bold">Age:</label>
                                        </div>
                                        <input type="number" class="form-control" name="age" id="age" required/>
                                    </div>
                                    <div class="mb-3">
                                        <div>
                                            <label for="password" class="col-form-label fw-bold">Password:</label>
                                        </div>
                                        <input type="password" class="form-control" name="password" id="password"
                                               required/>
                                    </div>
                                    <div class="mb-3">
                                        <div><label for="newUserRoles" class="col-form-label fw-bold">Roles:</label>
                                        </div>
                                        <select id="newUserRoles" size="2" class="form-select" name="roles" multiple>
                                            <option value="ROLE_ADMIN">ADMIN</option>
                                            <option value="ROLE_USER">USER</option>
                                        </select>
                                    </div>
                                    <button id="addUser" type="submit" class="btn btn-success" onclick="addNewUser()"
                                            title="Click here to add new user">Add new user
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>